<div id="liniya" class="orientir">
    <table id="calendarTb" border="2px" style="height: 200px; width: 250px; border-radius: 7px;">
        <thead>
            <tr>
                <td colspan="1" style="border: none"><span id="prev" style="cursor: pointer; color: cornflowerblue">пред</span></td>
                <td id="calendarHead" style="text-align: center; border-radius: 5px" colspan="5"></td>
                <td colspan="1" style="border: none"><span id="next" style="cursor: pointer; color: cornflowerblue">след</span></td>
            </tr>

            <tr>
                <td class="clforth">Пн</td>
                <td class="clforth">Вт</td>
                <td class="clforth">Ср</td>
                <td class="clforth">Чт</td>
                <td class="clforth">Пт</td>
                <td class="clforth">Сб</td>
                <td class="clforth">Вс</td>
            </tr>
        </thead>
        <tbody id="calendarTbData"></tbody>


    </table>
</div>
