@using AUPPRB.Models.ViewModels.jqGridModels
@using Trirand.Web.Mvc
@model DisciplineJqGridModel
@{
    ViewBag.Title = "Управление дисциплинами";
}


<div class="ui-widget">
    <div class="ui-widget-header">
        @ViewBag.Title
    </div>
    <div class="ui-widget-content">
        <div class="control-group" style="height:30px; margin: 0px 0px 30px 0px">
            <a href="@Url.Action("Create", "Discipline", null)" class="btn btn-default btn-lg" role='button' data-toggle='modal' data-target='#modal' title='Добавить дисциплину' style="width:110px;font-size:14px">
                <i class="glyphicon glyphicon-plus-sign"></i> Добавить<br />дисциплину
            </a>
        </div>

        @Html.Trirand().JQGrid(Model.DisciplineJqGrid,"JqGrid")
    </div>

</div>

@{Html.RenderPartial("_GridResources", new JqGridSettingsModel { Area = "Parent", NeedDeleteButton = false, NeedEditButton = true, NeedViewButton = false });} 


